/* reset css */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #333;
  font-family: "Pretendard-Regular";
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
}
img {
  width: 100%;
  max-width: 100%;
}
button {
  cursor: pointer;
}
body {
  background-color: #fff;
}
@font-face {
  font-family: "Tenada";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.logo {
  font-family: "Tenada";
  font-size: 1.4rem;
  margin-right: 10px;
}
.menu {
  margin-right: 10px;
  color: #989898;
}
.menu:hover {
  color: #404040;
}
.main-bg {
  height: 300px;
  background-image: url("./bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.shoe-title {
  float: left;
  width: 100%;
}
.shoe-content {
  float: left;
  width: 100%;
}
.shoe-price {
  float: right;
  font-size: 1.3rem;
  font-weight: bold;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.button {
  display: flex;
  justify-content: center;
}
.button > button {
  width: 40%;
  padding: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
}
.button > button:last-child {
  margin-right: 0;
}

.page-title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
.page-title > h3 {
  font-family: "Tenada";
}
.page-button > button {
  margin-right: 10px;
  text-transform: uppercase;
}
.page-button > button:last-child {
  margin-right: 0;
}

/* tab-menu */
.tab-container {
  position: relative;
}
.tab-menu {
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
}
.tab-menu > li {
  color: #fff;
  background-color: #333;
}
.tab-menu > li.active {
  background-color: #aaa;
}
.tab-menu > li > a {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
.tab-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #eee;
}
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.watched {
  width: 100%;
}
.watched * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.watched-container {
  padding: 10px;
  background-color: #eee;
  display: flex;
}
.watched-item {
  width: 100px;
  background-color: #fff;
  margin-right: 5px;
}
.watched-item:last-child {
  margin-right: 0;
}
.watched-item h6 {
  text-align: center;
  margin-top: 5px;
  font-size: 1rem;
}
